html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Model Today
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alex+Brush', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Poiret+One', type='text/css')
		link(href='/css/bootstrap.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='/css/bootstrap-responsive.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/js/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/js/jquery-ui.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/eventemitter.js')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')

	body

		div#cover.container-fluid.base-layer.cover

			div.container-fluid(style='position: relative; top: 10px;')

				div.row-fluid.offset1.span4

					a(href='/')
						img.span3.logo(src='img/logo.png', style='z-index: 1000;')

			div#cover-subtitle1.container-fluid.hide(style='position: relative; top: 30%;')

				div.row-fluid.span4.text(style='text-align: center;')

						div July 14

						div.comment Special Day

			div#cover-subtitle2.container-fluid.hide(style='position: relative; top: 30%;')

				div.row-fluid.span4.text(style='text-align: center;')

						div A Beautiful Creature was Born

						div.comment This day belongs to her forever

			div#cover-subtitle3.container-fluid.hide(style='position: relative; top: 30%;')

				div.row-fluid.span4.text(style='text-align: center;')

						div Pei.

						div.comment Wishing you a wonderful birthday

			div.container-fluid(style='position: relative; top: 60%;')

				div.row-fluid.span4.text(style='text-align: center;')
					span#cover-skipbtn.button skip
			

		div#photo-slider-layer.container-fluid.photo-slider-layer

			div.row-fluid(style='position: relative; top: 5%;')

				div.container-fluid(style='position: relative; height: 100%;')

					div#photo_slider.photo-slider.span12

					div.sign(style='position: absolute; top: 80%; right: 10%;') Pei.

					div#photo-slider-skipbtn.hide(style='position: absolute; top: 80%; width: 100%; text-align: center;')

						span.button Go to Wish Board
			

		div.container.wish-board

			div.row

				div.wish-board-title(style='text-align: center;') Wish Board

			div.row

				div.offset1

					div Leave message to wish for Pei right now!

					div
						input#name.span10(type='text', placeholder='Your Name')

					div
						textarea#message.span10(placeholder='Leave your message here', style='height: 200px;')

					img#submitMsg.offset8.span2(src='img/wish.png', style='cursor: pointer;', align='right')

			br
			br

		br

		div.container.wish-board

			div.row

				div#wishboard_count.count(style='text-align: center;')

				div#wishboard_messages.messages.offset1.span10
