body {
	color: #eeeeee;
	background: #000000;
}

.base-layer {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 868px;
}

.logo {
	position: relative;
	margin-top: 6px;
	margin-bottom: 20px;
	top: 1px;
	left: -25px;
}

.photo {
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.photo .image {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sign {
	font-size: 30px;
	font-family: 'Alex Brush';
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.celebrate_message {
	padding: 35px;
	font-family: 'Alex Brush';
	color: #66ddee;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.wish-board {
	border-top: 1px solid #111111;
	border-left: 1px solid #111111;
	border-right: 1px solid #050505;
	font-family: 'Berkshire Swash';
	background: url(../img/wishboard-bg1.png);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.wish-board input, .wish-board textarea {
	background: #111111;
	border: 1px solid #222222;
	color: #eeeeee;
	padding: 5px;
}

.wish-board input {
	padding: 15px;
	padding-left: 5px;
}

.wish-board .count {
	padding: 50px;
	font-size: 24px;
}

.wish-board .messages {
	padding-top: 20px;
}

.wish-board-title {
	font-size: 30px;
	padding: 60px;
	color: #aaaaaa;
}

.wish-board .post {
	margin-bottom: 10px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.wish-board .post .name {
	color: #55ddff;
}

.wish-board .post .created {
	margin-left: 10px;
	color: #333333;
}

.wish-board .post .message {
	color: #887777;
	padding: 10px;
}

.chatroom {
	opacity: 0.8;
	height: 500px;
	padding: 10px;
}

.chatroom .conversation {
	background: #000000;
	opacity: 0.7;
	height: 380px;
	padding: 10px;
}

.chatroom .control-panel {
	margin-top: 5px;
}

.chatroom .control-panel span {
	color: #000000;
}

.chatroom .conversation .nickname1 {
	font-weight: bold;
	color: orange;
}

.chatroom .conversation .nickname2 {
	font-weight: bold;
	color: #55aaff;
}

.chatroom .conversation .nickname3 {
	font-weight: bold;
	color: #ff5566;
}
